<div class="main-container">
  <app-navbar></app-navbar>
  <br>
  <sm-button *ngIf="!userAuthService.user" class="positive" (click)="userAuthService.facebookLogin()">Log in With Facebook</sm-button>
  <br>
  <div class="url-search">
    <img class="loading-icons" *ngIf="userAuthService.user && imageUrl === ''" src="{{emotionLoadingImg}}">
    <sm-search
      *ngIf="userAuthService.user"
      placeholder="Enter image URL..."
      (onSearch)="resultString = ''; analyseImage(imageUrl = $event, analyseImage())"
      [icon]="true"
      class="fluid"
      [debounce]="500">
    </sm-search>
  </div>

  <div class="results-container" *ngIf="imageUrl != ''">
    <div class="loading" *ngIf="loading">
      <div class="ui active inverted dimmer">
        <div class="ui text large loader">Loading</div>
      </div>
    </div>
    <div class="result" *ngIf="!loading">
      <img class="result-emotion-icon" src="../assets/images/emotions/{{primaryEmotion.emotionName}}.png">
      <div class="result-string">{{resultString}}</div>
    </div>
    <div class="image-container">
      <img src="{{imageUrl}}">
    </div>
  </div>
</div>
